# For Obsidian notes
.obsidian/app.json
.vault-stats
.obsidian/
.obsidian/workspaces.json
.obsidian/workspace
*.ipynb_checkpoints
*checkpoint.ipynb

# For Hugo
/public

# For personal python projects
